In [3]:
import pandas as pd

# ----------------------------------------------------
# 1) VERİYİ OKU ve TABLOYU TEMİZLE
# ----------------------------------------------------
excel_path = r"C:\Users\fetiy\OneDrive\Masaüstü\enerjisacase\Gorev1TuketimVerileri.xlsx"

# Sayfayı 3. satırdan itibaren oku (header=2)
raw = pd.read_excel(excel_path, sheet_name="TuketimVerileri", header=2)

# İlk satır aslında asıl başlık: Zaman, Samsun, Konya, Şanlıurfa
header = raw.iloc[0]
df = raw[1:].copy()
df.columns = header

# Tip dönüşümleri
df["Zaman"] = pd.to_datetime(df["Zaman"])
for col in ["Samsun", "Konya", "Şanlıurfa"]:
    df[col] = df[col].astype(float)

df.head()

0               Zaman  Samsun  Konya  Şanlıurfa
1 2024-01-01 00:00:00     0.0    0.0        0.0
2 2024-01-01 01:00:00     0.0    0.0        0.0
3 2024-01-01 02:00:00     0.0    0.0        0.0
4 2024-01-01 03:00:00     0.0    0.0        0.0
5 2024-01-01 04:00:00     0.0    0.0        0.0

In [4]:

# 2) HER ŞEHİR İÇİN YILLIK TOPLAM TÜKETİM (kWh)
# ----------------------------------------------------
cities = ["Samsun", "Konya", "Şanlıurfa"]

annual_consumption = df[cities].sum()  # saatlik kWh'lerin toplamı
print("Yıllık tüketimler (kWh):")
print(annual_consumption)

Yıllık tüketimler (kWh):
0
Samsun       7851992.79
Konya        8084076.51
Şanlıurfa    8084260.61
dtype: float64

In [5]:

# 3) SPESİFİK ÜRETİME GÖRE GEREKLİ kWp HESABI
# ----------------------------------------------------
specific_yield = {
    "Samsun": 1325,   # kWh/kWp.yıl
    "Konya": 1635,
    "Şanlıurfa": 1723
}

sizing = pd.DataFrame(index=cities)
sizing["AnnualConsumption_kWh"] = annual_consumption
sizing["SpecificYield_kWh_per_kWp"] = sizing.index.to_series().map(specific_yield)

# kWp ihtiyacı = yıllık tüketim / spesifik üretim
sizing["RequiredPower_kWp"] = (
    sizing["AnnualConsumption_kWh"] / sizing["SpecificYield_kWh_per_kWp"]
)

sizing["RequiredPower_MWp"] = sizing["RequiredPower_kWp"] / 1000

print("\nBoyutlandırma sonuçları:")
display(sizing)

Boyutlandırma sonuçları:

,AnnualConsumption_kWh,SpecificYield_kWh_per_kWp,RequiredPower_kWp,RequiredPower_MWp
Samsun,7851992.79,1325,5926.032294,5.926032
Konya,8084076.51,1635,4944.389303,4.944389
Şanlıurfa,8084260.61,1723,4691.967853,4.691968

In [6]:

# 4) LCOE HESAPLAMASI


capex = {        # USD/kWp
    "Samsun": 630,
    "Konya": 650,
    "Şanlıurfa": 680
}

opex = {         # USD/kWp.yıl
    "Samsun": 18,
    "Konya": 19,
    "Şanlıurfa": 22
}

lifetime = 30    # yıl

lcoe = pd.DataFrame(index=cities)
lcoe["SpecificYield_kWh_per_kWp"] = lcoe.index.to_series().map(specific_yield)
lcoe["Capex_USD_per_kWp"] = lcoe.index.to_series().map(capex)
lcoe["Opex_USD_per_kWp_per_year"] = lcoe.index.to_series().map(opex)

# Toplam maliyet (USD/kWp)
lcoe["TotalCost_USD_per_kWp"] = (
    lcoe["Capex_USD_per_kWp"] + lcoe["Opex_USD_per_kWp_per_year"] * lifetime
)

# Toplam enerji (kWh/kWp)
lcoe["TotalEnergy_kWh_per_kWp"] = (
    lcoe["SpecificYield_kWh_per_kWp"] * lifetime
)

# LCOE (USD/kWh)
lcoe["LCOE_USD_per_kWh"] = (
    lcoe["TotalCost_USD_per_kWp"] / lcoe["TotalEnergy_kWh_per_kWp"]
)

# Cent/kWh olarak da görmek istersen:
lcoe["LCOE_USDcent_per_kWh"] = lcoe["LCOE_USD_per_kWh"] * 100

print("\nLCOE sonuçları:")
display(lcoe)

best_location = lcoe["LCOE_USD_per_kWh"].idxmin()
print(f"\nEn düşük LCOE'ye sahip lokasyon: {best_location}")

LCOE sonuçları:

,SpecificYield_kWh_per_kWp,Capex_USD_per_kWp,Opex_USD_per_kWp_per_year,TotalCost_USD_per_kWp,TotalEnergy_kWh_per_kWp,LCOE_USD_per_kWh,LCOE_USDcent_per_kWh
Samsun,1325,630,18,1170,39750,0.029434,2.943396
Konya,1635,650,19,1220,49050,0.024873,2.487258
Şanlıurfa,1723,680,22,1340,51690,0.025924,2.592378

En düşük LCOE'ye sahip lokasyon: Konya

In [7]:
with pd.ExcelWriter("GES_sonuclar.xlsx") as writer:
    sizing.to_excel(writer, sheet_name="Boyutlandirma")
    lcoe.to_excel(writer, sheet_name="LCOE")

print("Sonuç dosyası kaydedildi: GES_sonuclar.xlsx")

Sonuç dosyası kaydedildi: GES_sonuclar.xlsx

In [3]:
# 2. CASE

In [4]:
import pandas as pd

# -------------------------------------------------------------------
# 1) EXCEL DOSYASINI OKU
# -------------------------------------------------------------------
df = pd.read_excel(
    r"C:\Users\fetiy\OneDrive\Masaüstü\enerjisacase\Gorev2-islistesi.xlsx"
)

# Kolon adlarını düzenleyelim
df = df.rename(columns={
    "Süre (gün)": "Sure",
    "Önceki İş(ler)": "Onceki",
})

# Boş bağımlılıkları temizle
df["Onceki"] = df["Onceki"].fillna("")

# İş sözlüğü
tasks = df.set_index("Kod").to_dict("index")

# ES, EF, LS, LF değerleri için sözlükler
ES, EF, LS, LF = {}, {}, {}, {}

# -------------------------------------------------------------------
# 2) FORWARD PASS – ES ve EF Hesabı
# -------------------------------------------------------------------
def forward_pass(code):
    if code in ES:
        return ES[code], EF[code]
    
    preds = tasks[code]["Onceki"]
    
    if preds.strip() == "" or preds.strip() == "-":  
        ES[code] = 0
        EF[code] = tasks[code]["Sure"]
    else:
        pred_EFs = []
        for p in preds.split(","):
            p = p.strip()
            _, pef = forward_pass(p)
            pred_EFs.append(pef)
        
        ES[code] = max(pred_EFs)
        EF[code] = ES[code] + tasks[code]["Sure"]

    return ES[code], EF[code]


for code in tasks.keys():
    forward_pass(code)

# Proje bitiş zamanı
project_finish = max(EF.values())

# -------------------------------------------------------------------
# 3) BACKWARD PASS – LS ve LF Hesabı
# -------------------------------------------------------------------
def backward_pass(code):
    if code in LS:
        return LS[code], LF[code]
    
    # Bu işten sonra başlayan aktiviteleri bul
    successors = [c for c, t in tasks.items() 
                  if code in str(t["Onceki"])]

    if len(successors) == 0:
        LF[code] = project_finish
        LS[code] = LF[code] - tasks[code]["Sure"]
    else:
        succ_LSs = []
        for s in successors:
            s_ls, _ = backward_pass(s)
            succ_LSs.append(s_ls)

        LF[code] = min(succ_LSs)
        LS[code] = LF[code] - tasks[code]["Sure"]
    
    return LS[code], LF[code]


for code in tasks.keys():
    backward_pass(code)

# -------------------------------------------------------------------
# 4) FLOAT (Bolluk) Hesabı
# -------------------------------------------------------------------
Float = {code: LS[code] - ES[code] for code in tasks}

# -------------------------------------------------------------------
# 5) SONUÇ TABLOSU
# -------------------------------------------------------------------
result = pd.DataFrame({
    "Faaliyet": {k: tasks[k]["Faaliyet"] for k in tasks},
    "Sure": {k: tasks[k]["Sure"] for k in tasks},
    "ES": ES,
    "EF": EF,
    "LS": LS,
    "LF": LF,
    "Float": Float
})

display(result)

# -------------------------------------------------------------------
# 6) KRİTİK PATİKA ve PROJE SÜRESİ
# -------------------------------------------------------------------
critical_path = [code for code in tasks if Float[code] == 0]

print(" * Kritik Patika:", " → ".join(critical_path))
print(" * Toplam Proje Süresi:", project_finish, "gün")
print(" * Bolluk Olan Aktiviteler:", {k: v for k, v in Float.items() if v > 0})

                       Faaliyet  Sure  ES  EF  LS  LF  Float
A                Saha hazırlığı     3   0   3   0   3      0
B           Kablo kanalı kazısı     5   3   8   3   8      0
C               Temel betonları     4   3   7   4   8      1
D         Montaj konstrüksiyonu     6   8  14   8  14      0
E              PV panel montajı     4  14  18  15  19      1
F            Kablo bağlantıları     5  14  19  14  19      0
G          Test ve devreye alma     3  19  22  19  22      0
H  Kabul ve devreye alma raporu     2  22  24  22  24      0

 * Kritik Patika: A → B → D → F → G → H
 * Toplam Proje Süresi: 24 gün
 * Bolluk Olan Aktiviteler: {'C': 1, 'E': 1}